
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
[x-cloak] {
    display: none;
}


.fi .fi-topbar {
    background-color: gold;

}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: clip;
    list-style: none;
    padding: 0px;
    z-index: 1;
    display: block;
    padding-bottom: 30px;  /* <-- added to show to bullets, other way they are hidden */
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;  /* <-- modified to show under de img */
    top: var(--swiper-pagination-top, auto);
    left: 0px;
    width: 100%;
}

.swiper-pagination-bullet-active{

    background-color: #006082 !important;
    /* background-color:  #154C8C !important; */
}
.swiper-pagination-bullet::after{
    content: '';
}

.swiper-pagination-bullet{
    width: 14px !important;
    height: 14px !important;
    background-color: #006082 !important;
    /* background-color:  #154C8C important; */
}



.swiper-pagination {
    bottom: -64px !important; /* Move pagination below the image */
}



