
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
[x-cloak] {
    display: none;
}


.fi .fi-topbar {
    background-color: gold;

}

.swiper-pagination-bullet-active{
    background-color:  #154C8C !important;
}

.swiper-pagination-bullet{
    background-color:  #154C8C important;
}
